       
       
       
        <p>Ware Industrial Sales is a manufacturer&rsquo;s representative of engineered and industrial products including power transmission, bearings and linear motion. Serving the Southeastern United States, represented products are sold through industrial distribution and direct to large original equipment manufacturers. We provide technical support and a strategically located sales team to support our principals and customers in a professional manner.</p>
        <h2>Experience in Industrial Supply and Logistics</h2>
      	<p>With over 20 years of direct industry experience and a track record of successful sales growth, the Ware Industrial team has an excellent reputation for quality and an in-depth knowledge of all aspects of industrial sales and operations.</p> 
  		<h2>Applied Knowledge across Product Lines</h2>
  		<p>As a result of the variety of products we&rsquo;ve sold in the past, the Ware Industrial team has a broad knowledge of the local market.  Factory training in multiple product lines makes us an excellent resource for our customers.</p>
    