@charset "UTF-8";
/* CSS Document: Ware Industrial */
/* :: Cheat Sheet :: 
* ---------------------------------------------------- *
* fluid grid: target ÷ context = result
* 16px is the Browser Default
* set the body to 87.5% or 14px 
* 14px = 1em
* 20px = 1.428em
* 12px = .857em
* 10px = .714em
* 5px = .357em 
*
* 
* 
* 20 | 984 | 20 = 1024 with a 20px margin on each side
*
* 6 column grid: 984 - (5 gutters at 10px = 50) = 934 / 6 = 155.666666666666667 (well it was something like that)
*
* 7 column grid 984 - (6 gutters at 10px = 60) = 924 / 7 = 132
* */
/* :: Client Variables :: */
/* :: Resets and Generic Styles ::
* ---------------------------------------------------- */
body {
  background: #eeeae9;
  color: #0a0a46;
  font-family: 'Droid Sans', sans-serif;
  font-size: 87.5% ;
  margin: 0;
  padding: 0;
}
/* #5D6F8C */
img {
  border-width: 0;
  border-style: none;
}
/* Remove the grey dotted line in firefox -moz-outline: none 0;  */
a {
  outline: none 0;
}
a {
  color: #0a0a46;
  text-decoration: underline;
}
a:hover {
  color: #00FFE5;
}
h1,
h2,
h3 {
  font-family: 'GFS Didot', serif;
  font-weight: normal;
}
h1 {
  font-size: 2.142em;
  line-height: 1.2em;
  margin: 0 0 .714em 0;
  padding: 0;
  text-align: left;
}
h2 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 1.428em 0 .714em 0;
  padding: 0;
  text-align: left;
}
h3 {
  border-bottom: 1px solid #000;
  font-size: 1.285em;
  line-height: 1em;
  margin: 0 0 .714em;
  padding: 0;
  text-align: left;
}
p {
  display: block;
  margin: 0 0 1em 0;
  padding: 0;
  text-align: left;
}
.wrapper {
  background: none repeat scroll 0 0 #fff;
  /* border: 1px solid @wi-blue; */
  border-radius: 0 0 20px 20px;
  /* 1.428em? */
  box-shadow: 3px 5px 10px 0 rgba(10, 10, 70, 0.3);
  /* TODO: Add Browser extensions? */
  margin: 1.428em auto;
  position: relative;
  text-align: center;
  max-width: 70.285em;
}
.clear {
  clear: both;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.none {
  display: none;
}
.floatL {
  float: left;
}
/* :: Masthead Styles ::
* ---------------------------------------------------- */
.mastHead {
  margin: 0;
  padding: 1.1428em 2em 3.142em;
}
.logo {
  float: left;
  text-align: left;
  width: 30%;
}
.certification {
  float: left;
  padding: 26px 0 0 40px;
  text-align: left;
  width: 65%;
}
.ptra {
  padding: 0 .714em 0 0;
}
.ptra img {
  width: 3.142em;
}
/* 44px */
.cpmr {
  padding: 0 .714em 0 0;
}
.cpmr img {
  width: 2.857em;
}
/* 40px */
.mana {
  padding: 0 .714em 0 0;
}
.linkedin {
  display: inline-block;
  float: right;
  margin: 17px 0 0;
}
/* :: Navigation Styles ::
* ---------------------------------------------------- */
/* :: Main Navigation ::::::::::::::::::::::::::::::: */
nav {
  background: none repeat scroll 0 0 #0a0a46;
  border-radius: 0 15px 15px 0;
  box-shadow: 3px 5px 10px 0 rgba(10, 10, 70, 0.3);
  color: #FFFFFF;
  font-size: 0.857em;
  left: 0;
  padding: .6666em 0.4166em;
  position: absolute;
  top: 100px;
  /* 100px; 7.1428em doesn't work??? */
  width: 55%;
  z-index: 100;
  /*behavior: url(library/js/PIE.htc);*/
}
.no-rgba nav {
  background: none repeat scroll 0 0 #0a0a46;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  /* IE 5-7 */
  filter: alpha(opacity=75);
}
nav > ul {
  list-style: none;
  margin: 0 0 0 1.428em;
  padding: 0;
  text-align: left;
}
nav > ul > li {
  background: none repeat scroll 0 0 #0f5579;
  border: 1px solid #188bc5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.8);
  display: inline-block;
  margin: .4166em;
  text-align: center;
  /*behavior: url(library/js/PIE.htc);*/
}
nav > ul > li > a {
  color: #fff;
  display: block;
  padding: .8333em .4166em;
  text-decoration: none;
  width: 6.6666em;
  /* 80px; removed: text-shadow: 0 4px 0 rgba(255, 255, 255, 0.2); */
}
/* :: Mark your Page ::::::::::::::::::::::::::::::: */
#home #nav_home,
#about #nav_about,
#territory #nav_territory,
#products #nav_products,
#contact #nav_contact {
  font-weight: bold;
  text-decoration: none;
}
/* :: Content Area Styles ::
* ---------------------------------------------------- */
.content a:link,
.content a:visited {
  color: #666;
}
.description {
  background: #085347;
  clear: both;
  color: #fff;
  margin: .714em 0;
  padding: .714em;
  text-align: left;
}
.LCol {
  float: left;
  margin: 0 0 .714em .714em;
  width: 55.894%;
}
.RCol {
  float: right;
  box-shadow: 2px 3px 15px 0 rgba(10, 10, 70, 0.3);
  margin: 0 1.428em 1.875em 0;
  padding: .714em;
  width: 37.6%;
  /*behavior: url(library/js/PIE.htc);*/
}
/* 370 / 984 = 37.6% */
/* :: Imports ::
* ---------------------------------------------------- */
/* CSS Document: Ware Industrial */
/* :: Home Page Styles ::
* ---------------------------------------------------- */
#home .LCol {
  line-height: 0;
  margin-top: 2.857em;
}
#home .LCol img {
  border: none 0;
  height: 183px;
  margin: 0;
  padding: 0;
  width: 183px;
}
/* CSS Document: Ware Industrial 09-05-2013 */
/* :: Territory Page Styles ::
* ---------------------------------------------------- */
#paper {
  margin: 2.142em 0 0;
  padding: 1.428em 0 0 .714em;
}
.path {
  fill: #0c0c53;
  stroke: #fff;
  /*transition: fill 500ms ease-out;*/
  /*behavior: url(library/js/PIE.htc);*/
}
/*.devin:hover .path,*/
/*.warren:hover .path,*/
/*.tom:hover .path,*/
/*.steve:hover .path {*/
/*  fill: #0f5579;*/
/*  stroke: #fff;*/
/*  transition: fill 500ms ease-in;*/
/*  -webkit-transition: opacity 500ms ease-in;*/
/*  !*behavior: url(library/js/PIE.htc);*!*/
/*}*/
#devin,
#steve,
#warren,
#tom {
  display: none;
  margin: 0 1.428em 2.285em 0;
}
#location {
  display: block;
  margin: 0 1.428em 0 0;
}
#location > ul {
  list-style: none;
  margin: 0 0 .714em 0;
  padding: 0;
  text-align: left;
}
#location ul li,
.close {
  background: none repeat scroll 0 0 #0f5579;
  border: 1px solid #188bc5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 3px 6px 0 rgba(10, 10, 70, 0.5);
  color: #fff;
  font-size: .857em;
  cursor: pointer;
  display: inline-block;
  margin-bottom: .5rem;
  margin-right: 0.5em;
  padding: .6666em 0.4166em;
  text-align: center;
  width: 8em;
  /*behavior: url(library/js/PIE.htc);*/
}
#location ul li:hover {
  color: #00FFE5;
}
.close {
  float: right;
}
#content {
  position: relative;
}
#Charlotte {
  border: 1px solid #0a0a46;
  float: left;
  margin: 0 0 1.428em;
  padding: 0;
  width: 75%;
}
/* CSS Document: Ware Industrial */
/* :: Products Page Styles ::
* ---------------------------------------------------- *
* fluid grid : target ÷ context = result 
* 
* 20 | 984 | 20 = 1024 witha 20px margin on each side
* as of 06-14-2013 there will be 16 product lines
* outside margins of 16: 984 - (16 * 2) = 952;
* 
* gutters @ 16: 952 - (16 * 3) = 904
* 4 rows of 4: 904 / 4 = 226
*
* 7 column: 952 - (16 * 6)= 856
* 856 - (2*7) = 842 / 7 = 120.2857
*
* feature width is 3 columns
* (2 * 16) + (3 * 120.2857) = 392.8571
* 
* */
.lineCard {
  margin: 50px 0 20px 0;
  max-width: 70.285em;
  padding: 0 0 0 1em;
  position: relative;
}
@media screen and (min-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer {
    width: 136px;
  }
}
.productLine {
  border: 1px solid #000000;
  border-radius: 0.714em 0.714em 0.714em 0.714em;
  -webkit-border-radius: 0.714em 0.714em 0.714em 0.714em;
  box-shadow: 3px 5px 10px 0 rgba(10, 10, 70, 0.3);
  float: left;
  height: 100px;
  margin: 0 0 16px 0;
  overflow: hidden;
  padding: 2px;
  width: 116.2857px;
  /* behavior: url(library/js/PIE.htc);*/
}
.productLine > .large {
  border-radius: 0.714em 0.714em 0.714em 0.714em;
  -webkit-border-radius: 0.714em 0.714em 0.714em 0.714em;
  height: 100%;
  width: 100%;
  /*behavior: url(library/js/PIE.htc);*/
}
.productLine > .thumb {
  display: none;
}
.productLine > a {
  color: rgba(10, 10, 70, 0.7);
}
.productLine > a:hover {
  color: #00FFE5;
}
.productLine > h3 {
  margin: 10px 20px;
}
.productLine > h4 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal;
  margin: 10px 0;
}
.productLine > p {
  margin: 0 20px 10px;
  font-size: .857em;
}
.productLine > ul {
  list-style: none outside none;
  margin: 0 20px;
  padding: 0;
  text-align: left;
}
.productLine > li {
  font-size: .857em;
}
.productLine.width3 {
  height: 740px;
  width: 392.8571px;
}
.productLine.width3 > .large {
  height: auto;
}
.productLine.width3 > .thumb {
  border: 1px solid rgba(10, 10, 70, 0.8);
  border-radius: 0.714em 0.714em 0.714em 0.714em;
  cursor: pointer;
  display: inline-block;
  margin: 0.714em 0.125em 0;
  /*behavior: url(library/js/PIE.htc);*/
}
/* CSS Document: Ware Industrial */
/* :: Home Page Styles ::
* ---------------------------------------------------- */
#contact_us .content {
  box-shadow: 2px 3px 15px 0 rgba(10, 10, 70, 0.3);
  display: block;
  margin: 2.857em 1.428em 1.875em;
  padding: .7142rem;
  width: 50%;
}
#contact_us form {
  border: none 0;
  margin: 0;
  padding: 0;
}
#contact_us legend {
  font-size: .7142rem;
  text-align: left;
}
#contact_us fieldset {
  border: none 0;
  margin: 0;
  padding: 0;
  text-align: left;
}
#email {
  display: none;
}
#contact_us label {
  display: none;
}
#contact_us input:not([type=submit]):not([type=file]) {
  border-radius: 5px 5px 5px 5px;
  /*box-shadow: 4px 4px 8px 0 rgba(10,10,70,.3);*/
  margin: .357rem 0;
  padding: .357rem;
  width: 88%;
}
#contact_us textarea {
  border-radius: 5px 5px 5px 5px;
  margin: .357rem 0;
  padding: .357rem;
  width: 88%;
}
.btn-submit {
  font-size: 1em;
  height: 25px;
  margin: 1.2em 0;
  width: 150px;
}
/* :: Footer Styles ::
* ---------------------------------------------------- */
footer,
.footer {
  background: none repeat scroll 0 0 #0a0a46;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 5px 10px 0 rgba(10, 10, 70, 0.5);
  font-size: 0.857em;
  margin: 0;
  /*behavior: url(library/js/PIE.htc);*/
}
.no-rgba footer,
.no-rgba .footer {
  background: none repeat scroll 0 0 #0a0a46;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=80);
  display: block;
}
.foot1 {
  color: #fff;
  padding: 1em 1.428em .714em;
}
.foot1 ul {
  list-style: none;
  margin: 0;
  padding: 0 0 .714em;
}
.foot1 ul li {
  color: #fff;
  list-style: none;
  display: inline;
  margin: 0 .357em;
}
.foot1 ul li a {
  color: #fff;
  text-decoration: none;
}
.foot2 {
  border-top: 1px solid #ccc;
  color: #ccc;
  margin: 0 auto;
  padding: 1em 0 2em;
  width: 50%;
}
