@charset "UTF-8";
/* CSS Document: Ware Industrial */
/* :: Cheat Sheet :: 
* ---------------------------------------------------- *
* fluid grid: target ÷ context = result
* 
* 20 | 984 | 20 = 1024 with a 20px margin on each side
*
* 6 column grid: 984 - (5 gutters at 10px = 50) = 934 / 6 = 155.666666666666667 (well it was something like that)
*
* 7 column grid 984 - (6 gutters at 10px = 60) = 924 / 7 = 132
* */
/* :: Media Queries: override styles per device ::
* ---------------------------------------------------- 
* iPhone 		320x480
* iPhone 4: 	640x960
* iPhone 5:		640x1136
* 
* samsung: 		400x800, 480x800, 720x1280, 800x1280, 1080x1920
* droid: 		480x854, 540x960
* windows
* */
/* Android Phone: built using Chrome emulating the Android 4.0.2 Galaxy Nexus User Agent; */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
  .wrapper {
    max-width: 100%;
    margin: 0 1.428em 2em;
  }
  /* :: Masthead Overrides ::
	* ---------------------------------------------------- */
  .mastHead {
    margin: 0;
    padding: 1em 2em;
  }
  .logo {
    float: none;
    text-align: center;
    width: 90%;
  }
  .certification {
    float: none;
    padding: 1em 0 0 0;
    text-align: center;
    width: 30%;
    margin-left: 70%;
  }
  .ptra {
    padding: 0 0 0 0;
  }
  .ptra img {
    width: 20%;
  }
  .cpmr {
    padding: 0 0 0 .25em;
  }
  .cpmr img {
    width: 18%;
  }
  .mana {
    padding: .25em 0 0 .25em;
  }
  .mana img {
    margin: .25em 0 0 0;
    width: 50%;
  }
  .linkedin {
    display: block;
    float: none;
    margin: .25em 0 0;
  }
  /* :: Navigation Overrides ::
	* ---------------------------------------------------- */
  /* :: Main Navigation ::::::::::::::::::::::::::::::: */
  nav {
    padding: 0.357em 0.357em 0.714em;
    width: 64%;
  }
  /* :: Content Overrides ::
	* ---------------------------------------------------- */
  .RCol {
    float: none;
    box-shadow: none;
    margin: 0 2em 2em;
    padding: 0 1.428em .714em;
    width: auto;
  }
  /* 370 / 984 = 37.6% */
  /* :: Footer Overrides ::
	* ---------------------------------------------------- */
  .foot1 > ul > li {
    list-style: none;
    display: block;
    margin: 0 0 .5em 35%;
    text-align: left;
  }
  .foot2 {
    width: 80%;
  }
}
/* Android Phone: built using Chrome emulating the Android 2.3 Nexus S User Agent; */
@media only screen and (max-device-width: 800px) {
  /* and (min-device-width : 480px) */
  .wrapper {
    max-width: 100%;
    margin: 0 1.428em 2em;
  }
  /* :: Masthead Overrides ::
	* ---------------------------------------------------- */
  .mastHead {
    margin: 0;
    padding: 1em 2em;
  }
  .logo {
    float: none;
    text-align: center;
    width: 90%;
  }
  .certification {
    float: none;
    padding: 1em 0 0 0;
    text-align: center;
    width: 30%;
    margin-left: 70%;
  }
  .ptra {
    padding: 0 0 0 0;
  }
  .ptra img {
    width: 20%;
  }
  .cpmr {
    padding: 0 0 0 .25em;
  }
  .cpmr img {
    width: 18%;
  }
  .mana {
    padding: .25em 0 0 .25em;
  }
  .mana img {
    margin: .25em 0 0 0;
    width: 50%;
  }
  .linkedin {
    display: block;
    float: none;
    margin: .25em 0 0;
  }
  /* :: Navigation Overrides ::
	* ---------------------------------------------------- */
  /* :: Main Navigation ::::::::::::::::::::::::::::::: */
  nav {
    padding: .25em;
    width: 64%;
  }
  /* :: Content Overrides ::
	* ---------------------------------------------------- */
  .RCol {
    float: none;
    box-shadow: none;
    margin: 0 2em;
    padding: .714em 1.428em;
    width: auto;
  }
  /* 370 / 984 = 37.6% */
  /* :: Footer Overrides ::
	* ---------------------------------------------------- */
  footer {
    font-size: 2em;
  }
  .foot1 > ul > li {
    list-style: none;
    display: block;
    margin: 0 0 .5em 35%;
    text-align: left;
  }
  .foot2 {
    width: 80%;
  }
}
/* iPads (portrait): Tested on Safari running the iOS 5.1 -ipad user agent; ----------- */
@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  .certification {
    width: 60%;
  }
  nav {
    width: 50%;
  }
  #content {
    margin-top: 2em;
  }
  .LCol {
    margin: 0 0 .714em 0;
    width: 50%;
  }
  #paper {
    margin: 0;
    padding: 0;
  }
  .paper svg {
    width: 100%;
  }
  .RCol {
    width: 42%;
  }
  #location li,
  .close {
    margin: .5em .357em;
  }
}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (device-aspect-ratio: 40/71) {
  /* and (max-device-width : 568px) */
  .wrapper {
    max-width: 100%;
    margin: 0 1.428em 2em;
  }
  /* :: Masthead Overrides ::
	* ---------------------------------------------------- */
  .mastHead {
    margin: 0;
    padding: 1em 2em;
  }
  .logo {
    float: none;
    text-align: center;
    width: 90%;
  }
  .certification {
    float: none;
    padding: 1em 0 0 0;
    text-align: center;
    width: 30%;
    margin-left: 70%;
  }
  .ptra {
    padding: 0 0 0 0;
  }
  .ptra img {
    width: 20%;
  }
  .cpmr {
    padding: 0 0 0 .25em;
  }
  .cpmr img {
    width: 18%;
  }
  .mana {
    padding: .25em 0 0 .25em;
  }
  .mana img {
    margin: .25em 0 0 0;
    width: 50%;
  }
  .linkedin {
    display: block;
    float: none;
    margin: .25em 0 0;
  }
  /* :: Navigation Overrides ::
	* ---------------------------------------------------- */
  /* :: Main Navigation ::::::::::::::::::::::::::::::: */
  nav {
    padding: 0.357em 0.357em 0.714em;
    width: 64%;
  }
  /* :: Content Overrides ::
	* ---------------------------------------------------- */
  .RCol {
    float: none;
    box-shadow: none;
    margin: 0 2em 2em;
    padding: 0 1.428em .714em;
    width: auto;
  }
  /* :: Footer Overrides ::
	* ---------------------------------------------------- */
  .foot1 > ul > li {
    list-style: none;
    display: block;
    margin: 0 0 .5em 35%;
    text-align: left;
  }
  .foot2 {
    width: 80%;
  }
}
/* iPhone 4 (tested on my iPhone) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    font-size: 3.4em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.75em;
  }
  p,
  .RCol ul {
    font-size: 2em;
  }
  .wrapper {
    max-width: 100%;
    margin: 0 1.428em 2em;
  }
  /* :: Masthead Overrides ::
	* ---------------------------------------------------- */
  .mastHead {
    margin: 0;
    padding: 1em 2em 3em;
  }
  .logo {
    float: none;
    text-align: center;
    width: 90%;
  }
  .logo img {
    width: 80%;
  }
  .certification {
    float: none;
    padding: 1em 0 0 0;
    text-align: center;
    width: 30%;
    margin-left: 70%;
  }
  .ptra {
    padding: 0 0 0 0;
  }
  .ptra img {
    width: 5em;
  }
  .cpmr {
    padding: 0 0 0 2em;
  }
  .cpmr img {
    width: 5em;
  }
  .mana {
    padding: 2em 0 0 0;
  }
  .mana img {
    margin: 2em 0 0 0;
    width: 12em;
  }
  .linkedin {
    display: block;
    float: none;
    margin: 1em 0 0;
    width: 16em;
  }
  /* :: Navigation Overrides ::
	* ---------------------------------------------------- */
  /* :: Main Navigation ::::::::::::::::::::::::::::::: */
  nav {
    font-size: 2.25em;
    padding: .25em;
    top: 6.5em;
    /* 100px?? 6.25 doesn't work??? */
    width: 64%;
  }
  /* :: Content Overrides ::
	* ---------------------------------------------------- */
  .RCol {
    float: none;
    box-shadow: none;
    margin: 2em;
    padding: .714em 1.428em;
    width: auto;
  }
  /* 370 / 984 = 37.6% */
  /* :: Footer Overrides ::
	* ---------------------------------------------------- */
  footer {
    font-size: 2em;
  }
  .foot1 > ul > li {
    list-style: none;
    display: block;
    margin: 0 0 .5em 35%;
    text-align: left;
  }
  .foot2 {
    width: 80%;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
