@charset "UTF-8";
/* CSS Document: Ware Industrial */

/* :: Cheat Sheet :: 
* ---------------------------------------------------- *
* fluid grid: target ÷ context = result
* 16px is the Browser Default
* set the body to 87.5% or 14px 
* 14px = 1em
* 20px = 1.428em
* 12px = .857em
* 10px = .714em
* 5px = .357em 
*
* 
* 
* 20 | 984 | 20 = 1024 with a 20px margin on each side
*
* 6 column grid: 984 - (5 gutters at 10px = 50) = 934 / 6 = 155.666666666666667 (well it was something like that)
*
* 7 column grid 984 - (6 gutters at 10px = 60) = 924 / 7 = 132
* */

/* :: Client Variables :: */
@pg-background: #eeeae9;
@wi-blue: #0a0a46;

/* :: Resets and Generic Styles ::
* ---------------------------------------------------- */
body { background: @pg-background; color: @wi-blue; font-family: 'Droid Sans', sans-serif; font-size: 87.5% ; margin: 0; padding: 0; } /* #5D6F8C */
img { border-width: 0; border-style: none; }

/* Remove the grey dotted line in firefox -moz-outline: none 0;  */
a { outline: none 0; }
	a { color: @wi-blue; text-decoration: underline; }
	a:hover { color: #00FFE5; }
h1, h2, h3 { font-family: 'GFS Didot', serif; font-weight: normal; }
h1 { font-size: 2.142em; line-height: 1.2em; margin: 0 0 .714em 0; padding: 0; text-align: left; }
h2 { font-size: 1.5em; line-height: 1.2em; margin: 1.428em 0 .714em 0; padding:0; text-align: left; }
h3 { border-bottom: 1px solid #000; font-size: 1.285em; line-height: 1em; margin: 0 0 .714em; padding: 0; text-align: left; }
	
p { display: block; margin: 0 0 1em 0; padding: 0; text-align: left; }
.wrapper {
    background: none repeat scroll 0 0 #fff;
    /* border: 1px solid @wi-blue; */
    border-radius: 0 0 20px 20px; /* 1.428em? */
    box-shadow: 3px 5px 10px 0 rgba(10, 10, 70, 0.3); /* TODO: Add Browser extensions? */
    margin: 1.428em auto;
    position: relative;
    text-align: center;
    max-width: 70.285em;
}
.clear { clear: both; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.none { display:none; }
.floatL { float: left; }

/* :: Masthead Styles ::
* ---------------------------------------------------- */
.mastHead { margin: 0; padding: 1.1428em 2em 3.142em; }
	.logo { float: left; text-align: left; width: 30%; }
	.certification { float: left; padding: 26px 0 0 40px; text-align: left; width: 65%; }
		.ptra { padding: 0 .714em 0 0; }
			.ptra img { width:3.142em;} /* 44px */
		.cpmr { padding: 0 .714em 0 0; }
			.cpmr img { width:2.857em;} /* 40px */
		.mana { padding: 0 .714em 0 0; }
		.linkedin { display: inline-block; float: right; margin: 17px 0 0; }

/* :: Navigation Styles ::
* ---------------------------------------------------- */
	/* :: Main Navigation ::::::::::::::::::::::::::::::: */
nav {
    background: none repeat scroll 0 0 rgba(10, 10, 70, 1);
    border-radius: 0 15px 15px 0;
    box-shadow: 3px 5px 10px 0 rgba(10, 10, 70, 0.3);
    color: #FFFFFF;
    font-size: 0.857em;
    left: 0;
    padding: .6666em 0.4166em;
    position: absolute;
    top: 100px; /* 100px; 7.1428em doesn't work??? */
    width: 55%;
    z-index: 100;
    /*behavior: url(library/js/PIE.htc);*/
}
	.no-rgba nav { 
		background: none repeat scroll 0 0 @wi-blue; 
		/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
		/* IE 5-7 */
		filter: alpha(opacity=75);
		}
	nav > ul { list-style: none; margin: 0 0 0 1.428em; padding: 0; text-align: left; }
		nav > ul > li {
		    background: none repeat scroll 0 0 rgb(15,85,121);
			border: 1px solid rgb(24,139,197);
		    border-radius: 5px 5px 5px 5px;
		    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.8);
		    display: inline-block;
		    margin: .4166em;
		    text-align: center;
		    /*behavior: url(library/js/PIE.htc);*/
		}
			nav > ul > li > a { color:#fff; display: block; padding: .8333em .4166em; text-decoration: none; width: 6.6666em; /* 80px; removed: text-shadow: 0 4px 0 rgba(255, 255, 255, 0.2); */ }
			
/* :: Mark your Page ::::::::::::::::::::::::::::::: */
#home #nav_home,  #about #nav_about,  #territory #nav_territory,  #products #nav_products,  #contact #nav_contact { font-weight: bold; text-decoration: none; }

/* :: Content Area Styles ::
* ---------------------------------------------------- */
	.content a:link, .content a:visited { color: #666; }
.description { background: #085347; clear: both; color: #fff; margin: .714em 0; padding: .714em; text-align: left; }
.LCol { float: left; margin: 0 0 .714em .714em; width: 55.894%; }
.RCol { float:right; box-shadow: 2px 3px 15px 0 rgba(10, 10, 70, 0.3); margin: 0 1.428em 1.875em 0; padding: .714em; width: 37.6%; /*behavior: url(library/js/PIE.htc);*/ }/* 370 / 984 = 37.6% */

/* :: Imports ::
* ---------------------------------------------------- */
@import url(home.less);
@import url(territory.less);
@import url(products.less);
@import url(contact_us.less);


/* :: Footer Styles ::
* ---------------------------------------------------- */
footer, .footer { background: none repeat scroll 0 0 rgba(10, 10, 70, 1); border-radius: 20px 20px 20px 20px; box-shadow: 3px 5px 10px 0 rgba(10, 10, 70, 0.5); font-size: 0.857em; margin: 0; /*behavior: url(library/js/PIE.htc);*/ }
	.no-rgba footer, .no-rgba .footer { 
		background: none repeat scroll 0 0 @wi-blue; 
		/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		/* IE 5-7 */
		filter: alpha(opacity=80);
		display: block;
		}

.foot1 {
	color: #fff; 
	padding: 1em 1.428em .714em;

	ul {
		list-style: none; 
		margin: 0; 
		padding: 0 0 .714em;

		li {
			color: #fff; 
			list-style: none; 
			display: inline; 
			margin: 0 .357em;

			a {
				color: #fff; 
				text-decoration: none;
			}
		}
	}
}

.foot2 { border-top: 1px solid #ccc; color: #ccc; margin: 0 auto; padding: 1em 0 2em; width: 50%; }

