@charset "UTF-8";
/* CSS Document: Ware Industrial */

/* :: Home Page Styles ::
* ---------------------------------------------------- */

#contact_us .content {
	 box-shadow: 2px 3px 15px 0 rgba(10, 10, 70, 0.3); 
	 display: block;
	 margin: 2.857em 1.428em 1.875em; 
	 padding: .7142rem;
	 width:50%;
}
#contact_us form {
	border: none 0;
	margin: 0;
	padding: 0;
}
#contact_us legend {
	font-size: .7142rem;
	text-align: left;
}
#contact_us fieldset {
	border: none 0;
	margin: 0;
	padding: 0;
	text-align: left;
}
#email { display:none;}
#contact_us label {display:none;}
#contact_us input:not([type=submit]):not([type=file]) {
	border-radius: 5px 5px 5px 5px;
	/*box-shadow: 4px 4px 8px 0 rgba(10,10,70,.3);*/
	margin: .357rem 0;
	padding: .357rem;
	width:88%;
}
#contact_us textarea {
	border-radius: 5px 5px 5px 5px;
	margin: .357rem 0;
	padding: .357rem;
	width:88%;
}
.btn-submit {
    font-size: 1em;
    height: 25px;
    margin: 1.2em 0;
    width: 150px;
}