@charset "UTF-8";
/* CSS Document: Ware Industrial */

/* :: Home Page Styles ::
* ---------------------------------------------------- */

#home .LCol { line-height: 0; margin-top:2.857em; }
	#home .LCol img { border: none 0; height: 183px; margin:0; padding:0; width: 183px; }

