@charset "UTF-8";
/* CSS Document: Ware Industrial */

/* :: Products Page Styles ::
* ---------------------------------------------------- *
* fluid grid : target ÷ context = result 
* 
* 20 | 984 | 20 = 1024 witha 20px margin on each side
* as of 06-14-2013 there will be 16 product lines
* outside margins of 16: 984 - (16 * 2) = 952;
* 
* gutters @ 16: 952 - (16 * 3) = 904
* 4 rows of 4: 904 / 4 = 226
*
* 7 column: 952 - (16 * 6)= 856
* 856 - (2*7) = 842 / 7 = 120.2857
*
* feature width is 3 columns
* (2 * 16) + (3 * 120.2857) = 392.8571
* 
* */

.lineCard {
    margin: 50px 0 20px 0;
    max-width: 70.285em;
    padding: 0 0 0 1em;
    position: relative;
}
@media screen and (min-width: 720px) {
/* 10 columns for larger screens */
	.grid-sizer { width: 136px; }
}
	.productLine {
	    border: 1px solid #000000;
	    border-radius: 0.714em 0.714em 0.714em 0.714em;
	    -webkit-border-radius: 0.714em 0.714em 0.714em 0.714em;
	    box-shadow: 3px 5px 10px 0 rgba(10, 10, 70, 0.3);
	    float: left;
	    height: 100px;
	    margin: 0 0 16px 0;
	    overflow: hidden;
	    padding: 2px;
	    width: 116.2857px;
	   /* behavior: url(library/js/PIE.htc);*/
	}
	.productLine > .large {
	    border-radius: 0.714em 0.714em 0.714em 0.714em;
	    -webkit-border-radius: 0.714em 0.714em 0.714em 0.714em;
	    height: 100%;
	    width: 100%;
	    /*behavior: url(library/js/PIE.htc);*/
	}
	.productLine > .thumb { display: none; }
	.productLine > a { color:rgba(10,10,70,.7);}
		.productLine > a:hover { color: #00FFE5; }
	.productLine > h3 { margin: 10px 20px; }
	.productLine > h4 {
		font-family: 'Droid Sans', sans-serif;
		font-weight: normal;
		margin: 10px 0;
	}
	.productLine > p { margin: 0 20px 10px; font-size:.857em; }
	.productLine > ul { list-style: none outside none; margin: 0 20px; padding: 0; text-align: left; }
		.productLine > li { font-size:.857em; }
	.productLine.width3 { height:740px; width:392.8571px; }
		.productLine.width3 > .large { height:auto; }
		.productLine.width3 > .thumb { border: 1px solid rgba(10, 10, 70, 0.8); border-radius: 0.714em 0.714em 0.714em 0.714em; cursor: pointer; display: inline-block; margin: 0.714em 0.125em 0; /*behavior: url(library/js/PIE.htc);*/ }
		