@charset "UTF-8";
/* CSS Document: Ware Industrial 09-05-2013 */

/* :: Territory Page Styles ::
* ---------------------------------------------------- */
#paper { margin: 2.142em 0 0; padding: 1.428em 0 0 .714em; }
.path { fill:rgb(12, 12, 83); stroke: #fff; transition: fill 500ms ease-out; /*behavior: url(library/js/PIE.htc);*/ }
.devin:hover .path, 
.warren:hover .path, 
.tom:hover .path,
.steve:hover .path { 
	fill: rgb(15,85,121); 
	stroke: #fff; 
	transition: 
	fill 500ms ease-in; 
	-webkit-transition: opacity 500ms ease-in; /*behavior: url(library/js/PIE.htc);*/ 
}

#devin, #steve, #warren, #tom { display: none; margin: 0 1.428em 2.285em 0; }
#location { display: block; margin: 0 1.428em 0 0; }
	#location > ul { list-style: none; margin:0 0 .714em 0; padding: 0; text-align: left; }
		#location ul li, .close {
		    background: none repeat scroll 0 0 rgb(15,85,121);
			border: 1px solid rgb(24,139,197);
		    border-radius: 5px 5px 5px 5px;
		    box-shadow: 2px 3px 6px 0 rgba(10, 10, 70, 0.5);
		    color:#fff;
		    font-size: .857em;
		    cursor:pointer;
		    display: inline-block;
		    margin-bottom: .5rem;
		   	margin-right: 0.5em;
		    padding: .6666em 0.4166em;
		    text-align: center; 
		    width: 8em;
		    /*behavior: url(library/js/PIE.htc);*/
		}
		#location ul li:hover { color: #00FFE5; }
	.close { float: right; }

#content { position: relative; }
	#Charlotte {
	    border: 1px solid @wi-blue;
		float: left;
	    margin: 0 0 1.428em;
	    padding: 0;
	    width: 75%;
	}
		